*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}
body{
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 20px;
    display: flex;
}



.container{
    width:30rem;
    height: 310rem;
    display: grid;
    gap: 10px;
}
.header{
    background-color: hsl(355, 100%, 74%);
    background-image: url(./images/bg-pattern-intro-mobile.svg);
    background-size: 40rem 60rem;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 28px;
    height: 32rem;
    border-bottom-left-radius:75px ;
}



.header-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choice-register{
    display: flex;
    flex-direction: column;
}
.menu-list{
    background-color: hsl(0, 0%, 100%);
    color: hsl(237, 17%, 21%);
    width: 10rem;
    height: 10rem;
}
.content-list{
    display: flex;
    flex-direction: row;
}
.title{
    font-size: 40px;
}

.collaspe-humbager{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    /* width: 3rem; */
    background-color: transparent;
    border: hidden;
}
.close-icon{
    /* width: 2rem; */
    background-color: transparent;
    border: hidden;
    display: none;
}
.header-title{
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    font-size: 50px;
}

.description{
    text-align: center;
    font-size: 24px;
}


.choice{
    background-color: hsl(0, 0%, 100%);
    height: 4rem;
    width: 4rem;
}

.choice-button{
    display: flex;
    gap: 10px;
}
.choice-login{
   background-color: transparent;

}

.choice-white{
    width:45% ;
    height: 3rem;
    border-radius: 32px;
    border: hidden;
    background-color:hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

.choice-red{
    width:45%;
    height: 3rem;
    border-radius: 32px;
    background-color:transparent;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
}



.first-container{
    padding:40px;
    width: 30rem;
    text-align: center;
}

.first-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.content-title{
   font-size: 40px;
   font-weight: 700px;
   color: hsl(237, 23%, 32%);
}
.infra{
    font-size: 45px;
    font-weight: 700px;
    color: hsl(0, 0%, 100%);
}
.content-text{
    font-size: 20px;
    color: hsl(240, 2%, 79%);
}

.second-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.purple-color{
    background: hsl(237, 17%, 21%);
    height: 36rem;
    margin-top: 18rem;
    position: absolute;
    width: 30rem;
    border-top-right-radius: 85px;
    border-bottom-left-radius: 85px;  
    z-index: -1;
    overflow: hidden;
}

.mobile-back{
   position: absolute;
    height: 38rem;
    width: 32rem;
    bottom: 40%;
    /* margin-bottom: 25rem; */
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.content-mobile{
    z-index: 1;
    padding: 2rem;

}
.phones{
    width: 100%;
}

.footer{
    background-color:hsl(237, 17%, 21%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    padding: 10px;
    text-align: center;
}
.container-fotter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subfooter{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-text{
    display: flex;
    flex-direction: column;
}

.container-fotter h4{
    font-size: 20px;
}
.container-fotter p{
    font-size: 18px;
    color:hsl(240, 2%, 79%);
}

.menu-collapse{
    display: none;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    color: hsl(237, 17%, 21%);
    width: 26rem;
    height: 30rem;
    padding: 20px;
    box-shadow: 0px -1px 11px -4px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 22%;
    transition: all .50s ease; 
    
}
/* .menu-collapse .open{
    right: 2%;
} */
.choice-register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.line{
    color: hsl(237, 17%, 21%);
}
.navbar{
    display: flex;
    flex-direction: column;
    color: hsl(237, 17%, 21%);
    font-size: 20px;
}
.down-icon{
    width: 1rem;
    height: 1rem;
}
.nav-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.choice-button{
    text-align: center;
}
.choice-login{
    border: hidden;
    font-size: 20px;
}
.separator {
  border: none;
  border-top: 1px solid #e0e0e0; 
  margin: 20px 0;
  width: 100%;
}

.signup-white{
    width: 10rem;
    border-radius: 22px;
    background-image: linear-gradient(to right,hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border: hidden;
    color: hsl(0, 0%, 100%);
}
@media only screen and (min-width: 426px) {

.container{
    /* display: grid; */
    border: 1px solid red;
    /* grid-template-columns: 1fr; */
    width: 46rem;
    /* height: 330rem; */
    overflow: hidden;
}

.header{
    width: 46rem;
}
.first-container{
    width: 45rem;
}

.pricture-laptop{
    width: 45rem;
}

.second-content{

}
.footer{
    width: 46rem;
}

.purple-color{
    width:46rem;
    height: 43rem;
    overflow: hidden;
}
.content-mobile{
width: 45rem;
}

.phones{
    width: 100%;
}
.third-container{
    width: 46rem;
    padding: 20px;
}

.menu-collapse{
    left: 40%;
}

}

@media only screen and (min-width: 769px){

body{
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
}

.container{
    /* display: grid; */
    
    /* width: 400rem;
    height: 340rem; */
}


.choice-login{
    /* width:50%;
    height: 3rem;
    border-radius: 32px;
    background-color:transparent;
    color: hsl(0, 0%, 100%);
    border: hidden; */
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 30rem;
    color: hsl(0, 0%, 100%);
}

.menu-bar{
    display: none;
}

.menu-list{
    display: block;
}

.container{
   width: 65rem;
}

.header{
    width: 100%;
}
.menu-collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50rem;
    height: 5rem;
    position: absolute;
    bottom: 10%;
    left: 18%;
    top: 10%;
    background-color: transparent;
    border: hidden;
    box-shadow: none;
}
.separator{
    display: none;
}
.choice-register{
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.choice-button{
    display: flex;
    justify-content: center;
}
.choice-white{
    width: 7rem;
}
.choice-red{
    width:7rem;
}
.phones{
}
.purple-color{
    width: 65rem;
    margin-top: 80px;
    height: 28rem;
}

.content-mobile{
    display: flex;
    flex-direction: row;
}
.footer{
    display: flex;
    flex-direction: row;
    height: 20rem;
    width: 100%;
    
}
.container-fotter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subfooter{
    text-align: start;
}
.footer-text{

}
.first-container{  

    
}

.first-text-container{
    display:grid;
    grid-template-columns: 30rem 1fr;
}

.content-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container-picture{
   /* margin-left: 10rem; */
  
  
}
.third-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 90rem;
}

.collaspe-humbager{
    display: none;
}
.choice-login{
    color: hsl(0, 0%, 100%);

}
.signup-white{
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    background-image: none;
}



}